{% extends "base.html" %}
{% load static %}
{% block title %}quiz{% endblock %}
{% block extrahead %}
{{ block.super }}
<script src="{% static 'script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/quiz.css' %}">
{% endblock %}

{% block content %}
{{block.super}}
<div class="all_page">
    {{quiz.pk}}
</div>
<hr class="line">
<!-- Qustions -->
<!-- i를 num으로? js도 고쳐야함-->
<div class="main_content">

    {% if quiz.img %}

    <div class="question">Q : {{quiz.question}}</div>
    <img src="{{quiz.img.url}}" id="question_img">
   
    <div class="radio-group">
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="1">
            <input type="submit" class='options' value="{{ quiz.option1 }}">
            <!-- <input type="submit" name="name" id='option1' value="{{ quiz.option1 }}"> -->
            <!-- 뷰.모델 -->
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="2">
            <input type="submit" class='options' value="{{ quiz.option2 }}">
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="3">
            <input type="submit" class='options' value="{{ quiz.option3 }}">
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="4">
            <input type="submit" class='options' value="{{ quiz.option4 }}">
        </form>
    </div>

    {% else %}
    <div class="question">Q : {{quiz.question}}</div>
    <div class="radio-group">
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="1">
            <input type="submit" class='options' value="{{ quiz.option1 }}">
            <!-- <input type="submit" name="name" id='option1' value="{{ quiz.option1 }}"> -->
            <!-- 뷰.모델필드 -->
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="2">
            <input type="submit" class='options' value="{{ quiz.option2 }}">
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="3">
            <input type="submit" class='options' value="{{ quiz.option3 }}">
        </form>
        <form action="" method="POST" class="quiz_form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
            <input type="hidden" name="answer" value="4">
            <input type="submit" class='options' value="{{ quiz.option4 }}">
        </form>
    </div>
    {% endif %}
    {% comment %} {% endfor %} {% endcomment %}
</div>

{% endblock %}